body {
    font-family: "Roboto", sans-serif, Arial;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

ul {
    list-style-type: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logo {
    height: 24px;
    width: 24px;
}

.hero-image {
    width: 50%;
    height: 50%;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    padding: 0 0 84px 0;
}

.hero, .footer {
    background-color: #1f2937;
    color: #f9faf8;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    padding: 0;
    margin: 0;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero-image-container {
    display: flex;
}

.links {
    display: flex;
    font-size: 18px;
    flex-direction: row;
    justify-content: space-between;
    gap: 6px;
    align-items: center;
}

.figure-image {
    width: 25%;
    height: 25%;
}

.hero-button {
    border: none;
    height: 24px;
    width: 84px;
}

.signup, .hero-button, .call-button{
    background-color: #3882f6;
    border-radius: 5px;
    color: #f9faf8;
}

.signup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin: 100px;
}

.call-button {
    border-color: white;
    border-style: solid;
    height: 24px;
    width: 92px;
}

.call, .call-subtext {
    padding: 0;
    margin: 0;
}

.call {
    font-size: 18px;
    font-weight: bold;
}

.call-subtext {
    font-size: 10pt;
}

.footer {
    padding: 24px;
    font-size: 10pt;
    text-align: center;
}