body {
    font-family: "Roboto", sans-serif, Arial;
    margin: 0;
    padding: 0;
}

.logo {
    height: 24px;
    width: 24px;
}

.hero, .footer {
    background-color: #1f2937;
    color: #efe7eb;
}

.footer {
    padding: 24px;
    font-size: 10pt;
    text-align: center;
}